#page {
    overflow: hidden;
}
/* Default & Bootstrap Override */
.containerOveride{
	max-width: 100%;
	padding: 0px;
}

.col-12{
	padding-left: 0px;
	padding-right: 0px;
}

.col-sm-6{
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-4{
	padding-left: 0px;
	padding-right: 0px;
}

.col-xl-3{
	padding-left: 0px;
	padding-right: 0px;
}

.col-12{
	padding-left: 0px;
	padding-right: 0px;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.text-secondary{
	color: #4c4c4c !important;
}
.bg-secondary{
	background-color: #4c4c4c !important;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

#carouselAutoPilotIndicators {
	max-width: 480px !important;
}

#carouselChatIndicators {
	min-width: 480px !important;
	max-height: 494px !important;
	min-height: 494px !important;
}

#carouselControlChatPrev {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carouselControlChatNext {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselIndicatorChat li {
    background-color: #757575;
}

#carouselIndicatorChat .active {
    background-color: #000;
}
/* End Bootstrap Override */

/* Effecs */
.fadeInEffect3{
	animation: fadein 3s;
}
.fadeInEffect5{
	animation: fadein 5s;
}
.fadeInEffect7{
	animation: fadein 7s;
}

.fadeInEffect9{
	animation: fadein 9s;
}
.fadeInEffect12{
	animation: fadein 12s;
}
.fadeInEffect14{
	animation: fadein 14s;
}
.fadeInEffect16{
	animation: fadein 16s;
}
.fadeInEffect20{
	animation: fadein 20s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* End Effecs */

.parallaxCover {
    /* The image used */
	background-image: url("https://i.imgur.com/21kD2g8.jpg");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 110vh;
}

.parallaxSkill {
    /* The image used */
    background-image: url("https://i.imgur.com/XYEsBvp.jpg");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
	#background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 105vh;
}

.parallaxBottom {
    /* The image used */
    /*background-image: url("https://images.unsplash.com/photo-1509702713478-5441be3d911c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=68772eda63c07b218f50935b78067a04&auto=format&fit=crop&w=634&q=80");*/
    /* Set a specific height */
    /* Create the parallax scrolling effect */
	background-color: #ffff;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

.skillmargin{
	margin-bottom: 10px
}

.skillBarPercent{
	margin-left: 2px;
}

.topper{
	margin-top: 10vh;
}

/*projectBoxesRowCOL*/
.cardProjectImage11{
	opacity: .65;
}

/*Hover CSS*/
.cardProjectImage11:hover{
	opacity: 1.1;
}

.eduModalBtn:hover{
	opacity: .5;
}

.fa-briefcase:hover{
	opacity: .5;
}
.contactIcon:hover{
	opacity: .5;
}

.fa-award:hover{
	opacity: .5;
}
/*Hover CSS End*/

.projectBoxes11{
	background-image: url("https://i.imgur.com/TbSBWFc.jpg");
	background-repeat: no-repeat;
	background-position: center;

}

.projectBoxes12{
	background-image: url("https://i.imgur.com/K6k3Gzw.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.projectBoxes13{
	background-image: url("https://i.imgur.com/5VNuEgk.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.projectBoxes14{
	background-image: url("https://i.imgur.com/zn9s9s7.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.projectBoxes21{
	background-color: #f2f2f2;

}

.projectBoxes22{
	background-color: #f2f2f2;
}

.projectBoxes23{
	background-color: #f2f2f2;

}

.projectBoxes24{
	background-color: #f2f2f2;

}

.projectBoxes31{
	background-color: #f2f2f2;

}

.projectBoxes32{
	background-color: #f2f2f2;

}

.projectBoxes33{
	background-color: #f2f2f2;

}

.projectBoxes34{
	background-color: #f2f2f2;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottom-center {
    margin: 0;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.paraText{
	font-family: 'Anton', sans-serif;
	color: #4c4c4c;
}

.paraTextGH{
	font-family: 'Anton', sans-serif;
	color: #637ee8;
}

.dateRange{
	font-family: 'Cinzel', serif;
}
.footStyle{
	height: 12.7vh;
}

.contactIcon{
	font-size: 5vh;
	padding-left: 1vh;
	padding-right: 1vh;
}

.modal_box{
    position:absolute;top:20%;left:20%;
    height:50px;width:30%;
    background:wheat;
    display:none;
}

/*Modal CSS*/
.modal,
.modal-box {
  z-index: 900;
}
/*creates transparent backgroud for Modal*/
.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}
/*default modal to be hidden*/
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #4c4c4c;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
/* allows modal to fall down from top of screen*/
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* Aditional Styles */
.modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
}

button.close-modal {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
  margin-top: 1vh;
}

#sectionSkillBar{
	position: relative;
}

#trio{
	position: absolute;
	bottom: 0;
	max-width: 100%;
	padding: 0px !important;
	width: 100%;
}

.card{
	height: 100% !important;
}

.card-img-top{
	height: 380px;
}
/*Modal CSS End*/
/*End Font and Styling*/
.mobileParallax{
	display: none !important;
}
/*responsive media*/
@media screen
    and (max-width : 414px) {
		.projectModalHeaders{
	  	  font-size: 3vh;
	    }
	    .projectModalHeadersClass{
	  	  font-size: 3vh;
	    }
	    #carouselChatIndicators{
	  	  min-width: 0px !important;
	    }
	    .modal-box{
	  	  width: 95% !important;
	    }
	    .socialMedia{
	  	 display:flex !important;
	  	 justify-content:center !important;
	  	 align-items:center !important;
	    }
	    .parallaxCover {
	        /* The image used */
	    	background-image: url("https://i.imgur.com/Sfv021j.jpg");
			image-rendering: -webkit-optimize-contrast;
	        /* Set a specific height */
	        /* Create the parallax scrolling effect */
			display: none !important;
	    	min-height: 110vh;
	    }
	    .parallaxSkill {
	  	/* The image used */
		display: none !important;
		background-image: url("https://i.imgur.com/rlWkyXq.jpg");
		image-rendering: -webkit-optimize-contrast;
	  	/* Set a specific height */
	  	/* Create the parallax scrolling effect */

	  	min-height: 105vh;
	    }
		.mobileParallax {
	        /* The image used */
	    	background-image: url("https://i.imgur.com/Sfv021j.jpg");
			image-rendering: -webkit-optimize-contrast;
	        /* Set a specific height */
	        /* Create the parallax scrolling effect */
			display: block !important;
			background-repeat: no-repeat;
	    	min-height: 110vh;
	    }
		.parallaxSkillMobile{
			/* The image used */
		  background-image: url("https://i.imgur.com/rlWkyXq.jpg");
		  image-rendering: -webkit-optimize-contrast;
		  /* Set a specific height */
		  /* Create the parallax scrolling effect */
		  display: block !important;
		  background-repeat: no-repeat;
		  min-height: 110vh;

		}
	}

}

/*responsive media end*/

/*********************************************/
/*End Site Revamp
/*********************************************/
