<!DOCTYPE html>
<html>
    <head>
        <title>My Site</title>
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="glyphicon glyphicon-registration-mark leftlogo" href="/"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <% if(!currentUser){ %>
                       <li><a class="glyphicon glyphicon-log-in loginlogo" href="/loginpage">Login</a></li>
                       <li><a class="glyphicon glyphicon-user signuplogo" href="/register">SignUp</a></li>
                  <% }else{ %>
                        <li><a href="#">Signed in As: <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </nav>