#page {
    overflow: hidden;
}
/* Default & Bootstrap Override */
.containerOveride{
	max-width: 100%;
	padding: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.carousel-inner{
	max-height: 1200px !important;
}
/* End Bootstrap Override */

/* Effecs */
.fadeInEffect{
	animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* End Effecs */

.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7402cc297bdfbb4a4856e764971dc013&auto=format&fit=crop&w=1350&q=80");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

.skillmargin{
	margin-bottom: 10px
}
/*End Font and Styling*/

/*********************************************/
/*End Site Revamp
/*********************************************/
