<% include partials/headers %>
<div class="container">
    <div class="row">
        <h1 class="formheader">Signup</h1>
        <div class="maininputform">
            <form action="/resume" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="user" placeholder="Username">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="pass" placeholder="Password">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passv2" placeholder="Confirm Password">    
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>    
                </div>
            </form> 
            <a href="/resume">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>