.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

#sz18{
    font-size: 18px;
}

.leftlogo{
    padding-top: 7px;
    font-size: 2.8em; 
    color: gray;
}

.formheader{
    text-align:center;
}

.maininputform{
    width: 30%; 
    margin: 25px auto;
}

.projectcontainer{
    display:flex; 
    flex-wrap:wrap;
}

.fontUbuntu{
    font-family:Ubuntu;
}



.loginlogo::before{
    margin-right: 4.7px;
}

.signuplogo::before{
    margin-right: 3px;
}

.commentheader{
   text-align:center;  
}

.hide{
    display:none;
}
